body {
    background-color: #2e2e2e;
    color: #fff;
  }
  
  .table {
    background-color: #3e3e3e;
    transition: ease,color .5s, linear 1s;
  }
  
  .table thead th {
    color: #e2c98d;
  }

main{
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgba(226, 201, 141, .65) 100%), url("wci_banner.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
  